<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yoga Practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="/css/timer.css">
    <link rel="stylesheet" type="text/css" href="/css/gauge.css">
    <script type='text/javascript' src='/js/mobile.js'></script>
    <script type='text/javascript' src='/js/timer.js'></script>
    <!-- p5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
    <!-- ml5 -->
    <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
</head>
<script>
    const poseNumber = "<%=pose%>"
</script>
<body>
    
    <span id="timer">00:00:00</span>
    <br />
    <div id="controls">
        <div onclick="stopwatch.start();" class="timer-btn" id="start">Start</div>
        <div onclick="stopwatch.stop();" class="timer-btn" id="stop">Stop</div>
    </div>

    
    
       
        <script>
            let video;
            let poseNet;
            let pose;
            let skeleton;
            let brain;
            let Label;
            let poseLabel = "           ";
            let energy = 0;
            let posesList = {
                1: "Namaskar",
                2: "Warrior Pose 2",
                3: "Hastauttanasana",
                4: "Relax",
            }
            function setup() {
             
                var cnv = createCanvas(900,480);
                cnv.position(450, 140);
                video = createCapture(VIDEO);
                video.hide();
                poseNet = ml5.poseNet(video, modelLoaded);
                poseNet.on('pose', gotPoses);

                let options = {
                    inputs: 34,
                    outputs: 4,
                    task: 'classification',
                    debug: true
                }
                brain = ml5.neuralNetwork(options);
                const modelInfo = {
                   model:"/model.json",
                   metadata: "/model_meta.json", 
                   weights:"/model.weights.bin",
                };
                console.log(modelInfo);
                brain.load(modelInfo, brainLoaded);
            }

            function brainLoaded() {
                console.log('pose classification ready!');
                classifyPose();
            }

            function classifyPose() {
                if (pose) {
                    let inputs = [];
                    for (let i = 0; i < pose.keypoints.length; i++) {
                        let x = pose.keypoints[i].position.x;
                        let y = pose.keypoints[i].position.y;
                        inputs.push(x);
                        inputs.push(y);
                    }
                    brain.classify(inputs, gotResult);
                } else {
                    setTimeout(classifyPose, 100);
                }
            }

            function gotResult(error, results) {
               // console.log(results);
                if (results[0].confidence > 0.75) {
                    Label = results[0].label.toUpperCase();
                }

                console.log(Label);
                poseLabel = "           " + posesList[Label];
                console.log(Label);
                if (poseNumber == Label) {
                    console.log("Same");
                    console.log("incremented energy")
                    energy += 0.5;
                  /*  document.getElementById("energyMeter").innerHTML = energy;*/
                    localStorage.setItem("energy", energy);

                }
                classifyPose();
            }


            function gotPoses(poses) {
                if (poses.length > 0) {
                    pose = poses[0].pose;
                    skeleton = poses[0].skeleton;
                }
            }

            function modelLoaded() {
                console.log('poseNet ready');
            }

            function draw() {
                push();
                translate(video.width, 0);
                scale(-1, 1);
                image(video, 0, 0, video.width, video.height);

                if (pose) {
                    for (let i = 0; i < skeleton.length; i++) {
                        let a = skeleton[i][0];
                        let b = skeleton[i][1];
                        strokeWeight(2);
                        stroke(0);

                        line(a.position.x, a.position.y, b.position.x, b.position.y);
                    }
                    for (let i = 0; i < pose.keypoints.length; i++) {
                        let x = pose.keypoints[i].position.x;
                        let y = pose.keypoints[i].position.y;
                        fill(0);
                        stroke(255);
                        ellipse(x, y, 16, 16);
                    }
                }
                pop();

                fill(0, 255, 0);
                noStroke();
                textSize(50);
                textAlign(CENTER, CENTER);
                // text(poseLabel, width/4 , height/2 );
            }


        </script>
        <section class="progress-wrapper">
            <svg id="line-progress" height="300" width="900">
              <g class="progress-container">
                <line x1="0"
                    y1="50%"
                    x2="100%"
                    y2="50%"
                    stroke-width="30" />
              </g>
              <g class="progress-content">
                <line
                    x1="0"
                    y1="50%"
                    x2="100%"
                    y2="50%"
                    stroke="#C2E362" 
                    fill="transparent" 
                    stroke-dasharray="100%" 
                    stroke-dashoffset="50%" 
                    stroke-width="28" />
              </g>
              <text class="percentage" x="40%" y="55%">50%</text>
            </svg>   
            <a href="/report/<%=pose%>">
                <div class="timer-btn" id="stop">Report</div>
                </a>
          </section>
    
</body>

</html>